<div class="row">
	<div class="col-md-6"><h4>Room : {{room.name}}</h4></div>
	<div class="col-md-6">
		<h4><span>{{user.alias}}</span> in <span style="color: red;">{{room.name}}</span></h4>
		<ul>
		  <li ng-repeat="user in room.users">{{user.alias}}</li>
		</ul>
	</div>
</div>

<button ng-disabled="state == 'waiting' || state == 'aiming'" class="btn btn-primary" ng-click="aim();">Aim</button>
<button ng-disabled="state == 'picking' || state == 'waiting'" class="btn btn-primary" ng-click="fire();">Fire</button>
<button class="btn btn-primary" ng-click="leaveRoom();">Leave Room</button>

<button class="btn btn-primary" onclick="wwv.test_fire_nuke()">Test Fire Nuke</button>

<hr>

<div class="input-group">
	<input
		type="text"
		class="form-control ng-valid ng-dirty"
		ng-model="messageText"
		placeholder="Type your message">
	<span class="input-group-btn">
		<button type="submit" class="btn btn-primary">Send</button>
	</span>
</div>
